.card {
  position: relative;
  width: 259px;
  height: 305px;
  /* left: 5.93%;
  right: 52.56%; */
  top: 1.44px;
  background: #ffffff;
  border: 0.81039px solid #dadada;
  box-sizing: border-box;
  border-radius: 6.48312px;
}

.card-status-outer {
  position: absolute;
  width: 89.59px;
  height: 89.59px;
  /* left: 122px; */
  top: 28.44px;
  background: #dfdfdf;
  border-radius: 50%;
  object-fit: cover;
}

.card-status-inner {
  position: relative;
  width: 50px;
  height: 50px;
  /* left: 166.8px; */
  top: 0px;
  border-radius: 100px 0 0 0;
  background: #138557;
}

.card-title {
  position: relative;
  height: 27px;
  /* left: 9.62%;
  right: 56.25%;*/
  top: 139.44px;

  /* DisplaySmall/Large Screen/Cooper Lt Bt */

  font-family: Cooper Lt BT;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  display: flex;
  align-items: center;
  text-align: center;
  color: #071f16;
}

.card-text {
  position: absolute;
  height: 46px;
  /* left: 54.33%;
  right: 9.13%; */
  top: 179.44px;

  /* Body/Large Screen/Messina Sans */

  font-family: Messina Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  text-align: center;

  color: #071f16;
}

.card-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 45px;
  position: absolute;
  width: 175px;
  height: 48px;
  /* left: 80px; */
  top: 235.44px;
  color: white;
  background: #239c6d;
  border-radius: 10px;
  outline: none;
  border: 0px;
}